@model TRPO.Models.Flight
@{
    ViewData["Title"] = "Добавление рейса";
}

<form method="post" asp-controller="AddingFlight" asp-action="Check" class="adding_flight_container">
    <div>
        <p>Дата</p>
        <input class="long_input" asp-for="Date" type ="Date">
        <span asp-validation-for="Date"></span>
    </div>
    <div>
        <p>Время вылета</p>
        <input class="long_input" asp-for="StartTime" type ="time">
        <span asp-validation-for="StartTime"></span>
    </div>
    <div>
        <p>Время прилета</p>
        <input class="long_input" asp-for="FinishTime" type ="time">
        <span asp-validation-for="FinishTime"></span>
    </div>
    <div>
        <p>Маршрут</p>
        <select asp-for="RouteId" class="short_input">
            @{
                foreach (var route in TRPO.Database.RouteDB.getAllRoutes())
                {
                    <option value="@route.Id">@route.StartPoint - @route.FinishPoint</option>
                }
            }
        </select>
        <span asp-validation-for="RouteId"></span>
    </div>
    
    <div>
        <p>Самолет</p>
        <select asp-for="PlaneId" class="short_input">
            @{
                foreach (var plane in TRPO.Database.PlaneDB.getAllPlanes())
                {
                    <option value="@plane.PlaneId">@plane.PlaneId - @plane.Type</option>
                }
            }
        </select>
        <span asp-validation-for="PlaneId"></span>
    </div>
    <div>
        <p>Пилот</p>
        <select asp-for="PilotId" class="short_input">
            @{
                foreach(var pilot in TRPO.Database.PilotDB.getAllPilots())
                {
                    <option value="@pilot.PilotId">@pilot.Name @pilot.Surname</option>
                }
            }
        </select>
        <span asp-validation-for="Pilot"></span>
    </div>
    <button>Добавить</button>
</form>