@using TRPO.mocks
@{
    ViewData["Title"] = "Пилоты";
}

@{
    MockPilots Pilots = new MockPilots();
    var pilots = Pilots.Pilots;
    foreach (var pilot in pilots)
    {
        <div class="pilot">
                <p>@pilot.Name</p>
                <p>@pilot.Surname</p>
                <p>Расписание</p>
                <p>@pilot.Shedule</p>
                <p>Начало работы</p>
                <p>@pilot.WorkHoursStart</p>
                <p>Конец работы</p>
                <p>@pilot.WorkHoursFinish</p>
        </div> 
        
    }
}