@using TRPO.mocks
@{
    ViewData["Title"] = "Пилоты";
}

@{
    MockPilots Pilots = new MockPilots();
    var pilots = Pilots.Pilots;
    foreach (var pilot in pilots)
    {
        <div class="pilot">
            <div class="pilot_photo" >
                <p>Фото пилота</p>
            </div>
                <p>@pilot.Name</p>
                <p>@pilot.Surname</p>
                <p>@pilot.Shedule</p>
                <p>@pilot.WorkHoursStart</p>
                <p>@pilot.WorkHoursFinish</p>
            </div>   
    }
}