<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SignInStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LayoutStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FlightsStyles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FlightItemStyles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="header_inner">
                <div class="header_title">@ViewData["Title"]</div>
                <nav class = "nav">
                @{
                    <a href="https://localhost:7297/Home" class = "nav_link">Главная</a>
                    <a href="../Filters" class = "nav_link">Поиск</a>
                    if (Context.User.FindFirst("id") != null)
                    {
                        Passanger passanger = Passanger.GetFromDBById(Convert.ToInt32(Context.User.FindFirst("id").Value));   
                        <a href="../Tickets" class = "nav_link">Билеты</a>
                        //if(passanger.GetRole()==AdminRole.role)
                        //{
                            <a href="../Pilots" class = "nav_link">Пилоты</a>
                            <a href="../AddingFlight" class = "nav_link">Добавление рейса</a>
                        //}                        
                        <div class = "dropdown">
                            <a href="" class = "nav_link">Аккаунт</a>      
                            <div class="dropdown-content">
                                <p class = "dropdown_content_name">@Convert.ToString(passanger.Name+" "+passanger.Surname)</p>
                                <p class = "dropdown_content_email">@Convert.ToString(passanger.Email)</p>
                                <a href="#">Параметры аккаунта</a>
                                <a href="../logout">Выход</a>
                                <a href="../SignUp">Регистрация</a>
                            </div>                                    
                        </div>
                    }
                    else
                    {
                            <div class = "dropdown">
                                <a href="" class = "nav_link">Аккаунт</a>      
                                <div class="dropdown-content">
                                    <a href="../SignIn">Вход</a>
                                    <a href="../SignUp">Регистрация</a>
                                </div>                                    
                            </div>
                    }
                }
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
