@{
    Flight flight = Flight.GetByID(ViewBag.Id);
    ViewData["Title"] = flight.StartPoint+" - " +flight.FinishPoint;
}

@{
    //Нужно шоб нормально время
}


<div class="about_flight">
            <p>@flight.StartPoint - @flight.FinishPoint</p>
            <div class="flight_time">
                <div class="flight_time_img">
            <p>4:30</p>
            <div class="flight_time_line">
                        <div class="waypoint"></div>
                        <hr>
                        <div class="waypoint"></div>
                    </div>
                </div>
                <div class="flight_start_finish">
                    <p>@flight.StartTime</p>
                    <p>@flight.FinishTime</p>
                </div>
                <div class="flight_start_finish">
                    <p>@flight.StartPoint</p>
                    <p>@flight.FinishPoint</p>
                </div>
            </div>
        </div>