@{
    ViewData["Title"] = "Главная";
}

<div class="home_page">
    <div class="home_page_header">
        <div class="control_buttons">
            <p>Главная страница</p>
            <button class="Departure_button" >Вылет</button>
            <button class = "Arrival_button" >Прилет</button>
        </div>
    </div>

    <section class="home_page_container">
        <table class = "arrival_table">
          <tr>
            <th>Рейс</th>
            <th>Прибывает из</th>
            <th>Время прилета</th>
            <th>Статус</th>
          </tr>
            @{
                foreach(var flight in TRPO.Database.FlightDB.getArrivlToady())
                {
                    <tr>
                        <td>@flight.FlightId</td>
                        <td>@flight.FlightRoute.StartPoint</td>
                        <td>@flight.FinishTime</td>
                        <td>@flight.Status</td>
                    </tr>
                }
            }
        </table>

        <table class = "departure_table">
          <tr>
            <th>Рейс</th>
            <th>Направляется в</th>
            <th>Время вылета</th>
            <th>Статус</th>
          </tr>
            @{
                foreach (var flight in TRPO.Database.FlightDB.getDepartureToday())
                {
                    <tr>
                        <td>@flight.FlightId</td>
                        <td>@flight.FlightRoute.FinishPoint</td>
                        <td>@flight.StartTime</td>
                        <td>@flight.Status</td>
                    </tr>
                }
            }
        </table>
    </section>
</div>