@using TRPO.mocks
@{
    ViewData["Title"] = "Главная";
}
@{
    MockFlights Flights = new MockFlights();
    
    foreach (var flight in Flights.Flights)
    {
        <form asp-route-id=@flight.FlightId class="flight_item" method="post" asp-controller="Home" asp-action="FlightItem">
                <p>@flight.FlightId</p>
                <p>@flight.StartPoint</p>
                <p>@flight.FinishPoint</p>
                <p>Дата вылета:</p>
                <p>@flight.Date</p>
                <p>Время вылета:</p>
                <p>@flight.StartTime</p>
                <p>Время прилета:</p>
                <p>@flight.FinishTime</p>
                <button class="about_button">Подробности</button>
        </form>
    }
}
 

