@using TRPO.mocks
@using TRPO.Models
@{
    ViewData["Title"] = "Главная";
}

<div>
    <button>Вылет</button>
    <button>Прилет</button>
</div>


<table class = "arrival_table">
  <tr>
    <th>Рейс</th>
    <th>Прибывает из</th>
    <th>Время прилета</th>
    <th>Статус</th>
  </tr>
    @{
        
        foreach (var flight in Flight.getArrivlToady())
        {
           <tr>
            <td>@flight.FlightId</td>
            <td>@flight.FlightRoute.StartPoint</td>
            <td>@flight.FinishTime</td>
            <td>В полете</td>
          </tr>
        }
    }
</table>

@*<table class = "departure_table">
  <tr>
    <th>Рейс</th>
    <th>Направляется в</th>
    <th>Время вылета</th>
    <th>Статус</th>
  </tr>
    @{
        foreach (var flight in Flight.getDepartureToday())
        {
           <tr>
            <td>@flight.FlightId</td>
            <td>@flight.FinishPoint</td>
            <td>@flight.FinishTime</td>
            <td>В полете</td>
          </tr>
        }
    }
</table>*@
 

