@using TRPO.mocks
@{
    ViewData["Title"] = "Главная";
}

@{
    MockFlights Flights = new MockFlights();
    var flights = Flights.Flights;
    foreach (var flight in flights)
    {
        <form asp-route-FlightId=@flight.FlightId class="flight_item">
        <div>
                <p>@flight.FlightId</p>
                <p>@flight.StartPoint</p>
                <p>@flight.FinishPoint</p>
                <p>Дата вылета:</p>
                <p>@flight.Date</p>
                <p>Время вылета:</p>
                <p>@flight.StartTime</p>
                <p>Время прилета:</p>
                <p>@flight.FinishTime</p>
                <button></button>
        </div>
        </form>
        
    }
}
 

