@using TRPO.mocks
@{
    ViewData["Title"] = "Главная";
}

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@





@{
    MockFlights Flights = new MockFlights();
    var flights = Flights.Flights;
    foreach (var flight in flights)
    {
        <div class="flight_item">
                <p>@flight.FlightId</p>
                <p>@flight.StartPoint</p>
                <p>@flight.FinishPoint</p>
                <p>Дата вылета:</p>
                <p>@flight.Date</p>
                <p>Время вылета:</p>
                <p>@flight.StartTime</p>
                <p>Время прилета:</p>
                <p>@flight.FinishTime</p>
        </div>
    }
}
 

