@using TRPO.mocks
@using Microsoft.AspNetCore.Authorization;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewData["Title"] = "Фильтры";
}

@{
    
   

}

@{
    MockFlights Flights = new MockFlights(ViewBag.command);
    var flights = Flights.Flights;
    foreach (var flight in flights)
    {
        <div class="flight_item">
            <p>@flight.FlightId</p>
            <p>@flight.StartPoint</p>
            <p>@flight.FinishPoint</p>
            <p>Дата вылета:</p>
            <p>@flight.Date</p>
            <p>Время вылета:</p>
            <p>@flight.StartTime</p>
            <p>Время прилета:</p>
            <p>@flight.FinishTime</p>
        </div>
    }
}

